MYSQL_USER=crud_user
MYSQL_PASSWORD=crud_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3306
MYSQL_MAX_CONNECTIONS=200
MYSQL_INNODB_BUFFER_POOL_SIZE=256M
DB_CONNECTION_LIMIT=20
WEB_CONCURRENCY=0
LOG_LEVEL=warn
BACKEND_PORT=3000
FRONTEND_PORT=8080
